/*need to make items be able to shrink*/

* {
margin: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}

.section1 {
    display: flex;
    justify-content: center;
    background-color: #386641;
    color: #F2E8CF;
    height: 460px;
}

/* look at making .wrapper alone work on all the webpage later */

.section1 .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1000px;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 60px;
    width: 60px;
}

.headers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 18px;
}

ul {
    list-style: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}

.hero_left {
    width: 45%;
    height: 250px;
}

.hero_title {
    font-size: 48px;
    font-weight: 800px;
    padding-bottom: 8px;
}

.hero_sub {
    font-size: 18px;
    padding-bottom: 8px;
}

button {
    font-size: 18px;
    padding: 6px 16px;
    color: #F2E8CF;
    background-color: #BC4749;
    border: none;
    border-radius: 8px;
    flex-grow: 0;
    font-weight: bold;
}

.hero_img {
    width: 45%;
    height: 250px;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cornsilk;
    color: #BC4749;
    height: 440px;
}

.section2 .wrapper {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 .container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.food {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
}

.section2 .title {
    font-size: 36px;
    font-weight: 800;
    margin: 32px;
}

.section2 img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.text {
    font-size: 18px;
    margin-top: 8px;
}